.table .row .td span {
    max-height: 150px;
}

.table .row .td:nth-child(1),
.table .row .td:nth-child(12),
.table .row .td:nth-child(13),
.table .row .td:nth-child(14) {
    width: 3%;
}

.table .row .td:nth-child(11) span,
.table .row .td:nth-child(12) span,
.table .row .td:nth-child(13) span,
.table .row .td:nth-child(14) span {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    writing-mode: tb-rl;
}

.table .row .td:nth-child(2){
    width: 9%;
}
.table .row .td:nth-child(3),
.table .row .td:nth-child(4),
.table .row .td:nth-child(5),
.table .row .td:nth-child(11) {
    width: 7%;
}

.table .row .td:nth-child(6) {
    width: 14%;
}

.table .row .td:nth-child(8),
.table .row .td:nth-child(9),
.table .row .td:nth-child(10),
.table .row .td:nth-child(11) {
    width: 9%;
}
