.table .row .td span {
    max-height: 125px;
}


.table .row .td:nth-child(1),
.table .row .td:nth-child(12),
.table .row .td:nth-child(9) {
    width: 3%;
}

.table .row .td:nth-child(2) span,
.table .row .td:nth-child(7) span,
.table .row .td:nth-child(8) span,
.table .row .td:nth-child(10) span,
.table .row .td:nth-child(11) span,
.table .row .td:nth-child(12) span,
.table .row .td:nth-child(9) span {
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    writing-mode: tb-rl;
}

.table .row .td:nth-child(3) {
    width: 15%;
}

.table .row .td:nth-child(5),
.table .row .td:nth-child(6) {
    width: 12%;
}

.table .row .td:nth-child(4) {
    width: 9%;
}

.table .row .td:nth-child(9) {
    width: 10%;
}

.table .row .td:nth-child(10) {
    width: 5%;
}
